:root {
     /* Colors */
   --light-blue: #edf6f9;
   --olive-green: #475f44;
   --white: #ffffff;
   
    /* Fonts */
    --header-font: Montserratt, sans-serif;
    --paragraph-font: Lora, sans-serif;
}


